In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
train=pd.read_csv("dataset.csv")

In [3]:
x_features=list(train.columns)

In [4]:
x_features.remove('LAWYERS')

In [5]:
X=train[x_features]

In [6]:
cluster_new=KMeans(4)

In [7]:
cluster_new.fit_predict(X)

array([0, 2, 0, 2, 1, 2, 2, 1, 2, 0, 0, 3, 0, 3, 0, 0, 3, 0, 0, 3, 3, 3,
       1, 0, 2, 2, 0, 2, 0, 2, 0, 0, 2, 2, 1, 2, 0, 0, 3, 0, 3, 0, 3])

In [15]:
train['Clusters']=cluster_new.labels_

In [16]:
output=train[['LAWYERS','Clusters']]

In [17]:
output

            LAWYERS  Clusters
0     AARONSON,L.H.         0
1    ALEXANDER,J.M.         2
2    ARMENTANO,A.J.         0
3       BERDON,R.I.         2
4      BRACKEN,J.J.         1
5        BURNS,E.B.         2
6     CALLAHAN,R.J.         2
7        COHEN,S.S.         1
8         DALY,J.J.         2
9      DANNEHY,J.F.         0
10        DEAN,H.H.         0
11      DEVITA,H.J.         3
12    DRISCOLL,P.J.         0
13      GRILLO,A.E.         3
14   HADDEN,W.L.JR.         0
15      HAMILL,E.C.         0
16      HEALEY.A.H.         3
17        HULL,T.C.         0
18        LEVINE,I.         0
19    LEVISTER,R.L.         3
20      MARTIN,L.F.         3
21     MCGRATH,J.F.         3
22     MIGNONE,A.F.         1
23      MISSAL,H.M.         0
24      MULVEY,H.M.         2
25       NARUK,H.J.         2
26     O'BRIEN,F.J.         0
27  O'SULLIVAN,T.J.         2
28        PASKEY,L.         0
29     RUBINOW,J.E.         2
30       SADEN.G.A.         0
31  SATANIELLO,A.G.         0
32        SHEA,D.M.         2
33     SHEA,J.F.JR.         2
34       SIDOR,W.J.         1
35    SPEZIALE,J.A.         2
36      SPONZO,M.J.         0
37   STAPLETON,J.F.         0
38       TESTO,R.J.         3
39  TIERNEY,W.L.JR.         0
40        WALL,R.A.         3
41      WRIGHT,D.B.         0
42    ZARRILLI,K.J.         3

In [18]:
ls2=[]
for i in output['Clusters']:
    if i==0:
        ls2.append(1)
    elif i==1:
        ls2.append(2)
    elif i==2:
        ls2.append(3)
    else:
        ls2.append(4)

In [19]:
def clu(b):
    for i in b:
        if i==0:
            print(1)
        elif i==1:
            print(2)
        elif i==2:
            print(3)
        else:
            print(4)

In [20]:
clu(output['Clusters'])
print(output['Clusters'])

1
3
1
3
2
3
3
2
3
1
1
4
1
4
1
1
4
1
1
4
4
4
2
1
3
3
1
3
1
3
1
1
3
3
2
3
1
1
4
1
4
1
4
0     0
1     2
2     0
3     2
4     1
5     2
6     2
7     1
8     2
9     0
10    0
11    3
12    0
13    3
14    0
15    0
16    3
17    0
18    0
19    3
20    3
21    3
22    1
23    0
24    2
25    2
26    0
27    2
28    0
29    2
30    0
31    0
32    2
33    2
34    1
35    2
36    0
37    0
38    3
39    0
40    3
41    0
42    3
Name: Clusters, dtype: int32