In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
train=pd.read_csv("credit_train.csv")

In [3]:
test=pd.read_csv("credit_test.csv")

In [4]:
x_features=list(train.columns)

In [5]:
test

,Duration,Amount,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance,Telephone,ForeignWorker,CheckingAccountStatus.lt.0,...,OtherInstallmentPlans.Stores,OtherInstallmentPlans.None,Housing.Rent,Housing.Own,Housing.ForFree,Job.UnemployedUnskilled,Job.UnskilledResident,Job.SkilledEmployee,Job.Management.SelfEmp.HighlyQualified,id
0,12,2096,2,3,49,1,2,1,1,0,...,0,1,0,1,0,0,1,0,0,1
1,36,9055,2,4,35,1,2,0,1,0,...,0,1,0,0,1,0,1,0,0,2
2,12,3059,2,4,61,1,1,1,1,0,...,0,1,0,1,0,0,1,0,0,3
3,30,5234,4,2,28,2,1,1,1,0,...,0,1,0,1,0,0,0,0,1,4
4,12,1567,1,1,22,1,1,0,1,0,...,0,1,0,1,0,0,0,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,24,2463,4,3,27,2,1,0,1,0,...,0,1,0,1,0,0,0,1,0,196
196,10,2901,1,4,31,1,1,1,1,0,...,0,1,1,0,0,0,0,1,0,197
197,12,3617,1,4,28,3,1,0,1,0,...,0,1,1,0,0,0,0,1,0,198
198,24,2812,2,4,26,1,1,1,1,1,...,0,1,1,0,0,0,0,1,0,199
199,36,8065,3,2,25,2,1,0,1,1,...,0,1,0,1,0,0,0,0,1,200

In [6]:
x_features.remove('Class')

In [7]:
X=train[x_features]

In [8]:
y=train['Class']
ls=[]
for i in y:
    if i == "Good":
        ls.append(1)
    else:
        ls.append(0)

In [9]:
Y=pd.Series(ls)

In [10]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [11]:
tree=LogisticRegression(penalty='l2')

In [12]:
tree.fit(X_train,Y_train)

C:\Users\Abhi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
y_predict=tree.predict(X_test)

In [14]:
metrics.roc_auc_score(Y_test,y_predict)

0.6710526315789473

In [15]:
print(metrics.classification_report(Y_test,y_predict))

              precision    recall  f1-score   support

           0       0.51      0.51      0.51        57
           1       0.83      0.83      0.83       168

    accuracy                           0.75       225
   macro avg       0.67      0.67      0.67       225
weighted avg       0.75      0.75      0.75       225

In [16]:
y_features=list(test.columns)
y_features.remove("id")

In [17]:
testX=test[y_features]

In [18]:
testy=test['id']
testy

0        1
1        2
2        3
3        4
4        5
      ...
195    196
196    197
197    198
198    199
199    200
Name: id, Length: 200, dtype: int64

In [19]:
prediction=tree.predict(testX)

In [20]:

ls1=[]
for i in prediction:
    if i == 1:
        ls1.append("Good")
    else:
        ls1.append("Bad")

In [21]:
prediction=pd.Series(ls1)

In [22]:
output=pd.DataFrame([testy,prediction],index=['id','Class']).T

In [23]:
output

      id Class
0      1  Good
1      2  Good
2      3  Good
3      4   Bad
4      5  Good
..   ...   ...
195  196  Good
196  197  Good
197  198  Good
198  199  Good
199  200   Bad

[200 rows x 2 columns]

In [25]:
output.to_csv('credit.csv',index=False)